@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alegreya&family=Alfa+Slab+One&family=Barlow&family=Carter+One&family=Heebo:wght@300;800&family=Lato&family=Monoton&family=Montserrat:wght@400;500&family=Orbitron:wght@500&family=Oswald:wght@300&family=Philosopher:ital@1&family=Rubik+Dirt&family=Secular+One&display=swap");

.sec4 {
  width: 90vw;
  /* background-color: crimson; */
  /* border-bottom: 1px solid black; */
}

.video {
  width: 72%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 20px 0 20px 0;
  font-family: "Heebo", sans-serif;
  color: rgb(43, 43, 43);
}

p {
  font-family: "Heebo", sans-serif;
  color: grey;
}

.bg {
  width: 50px;
  height: 50px;
  background-color: rgb(252, 192, 201);
  border-radius: 100%;
  position: relative;
  font-size: 30px;
  margin-left: 40px;
}
.rIcons {
  margin-left: 10px;
  margin-top: 10px;
}
