@import url(https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alegreya&family=Alfa+Slab+One&family=Barlow&family=Carter+One&family=Heebo:wght@300;800&family=Lato&family=Monoton&family=Montserrat:wght@400;500&family=Orbitron:wght@500&family=Oswald:wght@300&family=Philosopher:ital@1&family=Rubik+Dirt&family=Secular+One&display=swap);
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alegreya&family=Alfa+Slab+One&family=Barlow&family=Carter+One&family=Heebo:wght@300;400;800&family=Lato&family=Monoton&family=Montserrat:wght@400;500&family=Orbitron:wght@500&family=Oswald:wght@300&family=Philosopher:ital@1&family=Rubik+Dirt&family=Secular+One&display=swap");

.cardSec1 {
  width: 100%;
  height: auto;
  background-color: rgb(245, 244, 248);
  padding-bottom: 3%;
}
.cardSec1 h2 {
  font-family: Heebo, sans-serif;
  font-weight: normal;
  padding-top: 50px;
  padding-left: 14.3%;
  padding-bottom: 15px;
}
.cardSub1 {
  width: 69%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}

.courseName {
  font-size: 18px;
  text-decoration: none;
  color: black;
  font-family: Heebo, sans-serif;
}

.courseName:hover {
  color: rgb(109, 66, 211);
}

.avatar {
  border: none;
  font-size: 18px;
  font-weight: normal;
  background-color: white;
  margin-left: 80px;
  padding-top: 4px;
}

.avatar:hover {
  color: grey;
  cursor: pointer;
}

.img {
  height: 23vh;
  width: 19vw;
  border-radius: 5%;
}

.next1 {
  position: absolute !important;
    top: 125% !important;
  left: 87% !important;
  border: none;
  background-color: rgba(210, 209, 209, 0.724);
  cursor: pointer;
  height: 3em;
  width: 3em;
  border-radius: 100%;
}

.prev1 {
  position: absolute !important;
  top: 125% !important;
  left: 10% !important;
  border: none;
  background-color: rgba(210, 209, 209, 0.724);

  z-index: 1;
  cursor: pointer;
  height: 3em;
  width: 3em;
  border-radius: 100%;
}


.slide {
  padding-right: 10px;
  padding-left: 0.6%;
  margin-top: 0.2%;
}

.cont {
  /* height: 48.5vh; */
  height: 100%;
  width: 100%;
  /* background-color: blue; */
}
#container {
  /* margin-top: 70px; */
  /* background-color: rgb(245, 193, 193); */
  height: 46vh;
  width: 90%;
  margin: auto;
  position: relative;
  margin-top: -3%;
  padding: 0 1.5em;
  width: 69em;
}

.tittle1 {
  /* margin-left: 2%; */
  position: relative;
  top: 15px;
  font-size: 1.25em;
  margin: 4% 3%;
}

h6 {
  position: relative;
  top: -15px;
  left: 10px;
  font-size: 0.8em;
}

h5 {
  position: relative;
  top: -30px;
  left: 9px;
  font-size: 1.03em;
}
